.tankButton {
    width: 80vw;
    text-align: center;
}

.status {
    text-align: center;
}

.ok {
    color: darkgreen;
}
.caution {
  color: orange;
}
.correct {
  color: orangered;
}
.critical {
  color: red;
}
.replace {
  color: darkred;
}
